<mat-table class="col-md-10" [dataSource]=sortedData matSort (matSortChange)="sortData($event)">
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
  <ng-container matColumnDef="orderId">
    <mat-header-cell *matHeaderCellDef> Nº Pedido </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.id.substring(0,6)}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header="date"> Fecha </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.date | date:'dd-MM-yyyy'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="state" >
    <mat-header-cell *matHeaderCellDef mat-sort-header="state"> Estado </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.state}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="totalPrice" >
    <mat-header-cell *matHeaderCellDef mat-sort-header="totalPrice"> Importe </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.totalPrice | number:'1.2-2'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let order"><a [routerLink]="['/orders',order.id]"> Ver </a></mat-cell>
  </ng-container>
</mat-table>
