
<div class="container">
  <div class="row" *ngIf="products">
    <div class="col-md-1"></div>
    <div class="input-group col-md-2">

      <input class="form-control" [(ngModel)]="searchProductsName" type="text" id="search" placeholder="Search product" name="search">
      <span class="glyphicon glyphicon-search input-group-addon"></span>
    </div>
    <div class="col-md-6"></div>
    <div *ngIf="currentUser" class="col-md-3 btn-new">
      <button class="btn-danger btn-wine btn-lg" *ngIf="currentUser.role == 'ADMIN'" [routerLink]="['/products/newProduct']"> Nuevo </button>
    </div>
  </div>


  <div class="row" *ngIf="products">
    <div *ngFor="let product of products | searchProducts:'name':searchProductsName" class="product col-xs-12 col-md-4">
      <img [src]= product.image />
      <h3>{{product.name}}</h3>
      <h4> {{product.price | number:'1.2-2'}} €</h4>
      <a [routerLink]="['/products',product.id]"> Ver info </a>
    </div>
  </div>
</div>
