
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input [(ngModel)]="searchProductsName" type="text" id="search" placeholder="Search product" name="search">
      <i class="glyphicon glyphicon-search"></i>
    </div>
  </div>

  <div *ngFor="let product of products | searchProducts:'name':searchProductsName" class="product col-xs-12 col-sm-3">
    <img [src]= product.image />
    <h4>{{product.name}}</h4>
    <p> {{product.price}}</p>
    <a [routerLink]="['/products',product.id]"> Ver info </a>
  </div>
</div>
