.product {
  margin-top: 5%;
  text-align: center;
}

.product h4 {
  color: red;
}

.product img {
  height: 300px;
}

.container {
  margin: 0;
  padding: 0;
  margin-top: 5%;
  width: 100%;


}


.input-group-addon {
  background-color: black;
  color: #d9534f;
}
